@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.banner-wrapper {
  height: 10rem;
  overflow: hidden;
}

.banner-wrapper .wrapper {
  display: flex;
}

.banner-wrapper .wrapper .icons {
  display: flex;
  animation: swipe 17000ms linear infinite;
}

.banner-wrapper:hover .icon {
  animation-play-state: paused;
  transition-duration: 300ms;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
